.search-background {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5% 0;
}

.search-title {
    margin-bottom: 50px;
}

.search-title h1 {
    font-weight: 300;
    font-size: 70px;
    margin: 0;
    padding-left: 10%;
    text-align: left;
}

.search-title p {
    padding-left: 10%;
    font-size: 1.5em ;
    color: #3091FF;
    text-align: left;
}

@media (min-width: 600px) {
    .search-title p {
        padding-left: 0;
    }

    .search-title h1 {
        padding-left: 0;
    }
}