.search-background {
    /* background: white; */
    box-sizing: border-box;
    /* height: 70vh; */
    /* width: 60vw; */
    margin: 0 auto;
    padding: 5% 0;
}

.search-title {
    margin-bottom: 50px;
}

h1 {
    font-weight: 300;
    font-size: 70px;
    margin: 0;
    padding-left: 10%;
    text-align: left;
}

p {
    padding-left: 10%;
    font-size: 1.5em ;
    color: #3091FF;
    text-align: left;
}
