
.Header {
  height: 15vh;
  padding: 5px;
}
  
.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.auth-box button{
  background-color: #1e1e1e;
  display: inline;
  border: none;
  outline: none;
  
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.logo-img {
  width: 40vw;
}

.user-icon {
  display: none;
  color: white;
}

/* Desktop */
@media (min-width: 600px) {
  .navbar {
    padding: auto 0;
    width: 100%;
    margin: 0;
  }
  
  .logo-img {
    width: 200px;
  }

  .auth-box button {
    font-size: 1.3em;
    padding: 0 10px;
  }

}
  