
.Header {
    height: 30vh;
    padding: auto 20%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navbar-join {
    color: #ffffff;
    text-align: right;
  }
  
  .sign-up, .log-in{
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    border: none;
  }
  
  .sign-up, .log-in:visited {
    color: #ffffff;
  }
  
  .logo-img {
    height: auto;
  }
  
  .user-icon {
    display: none;
    color: white;
  }
  
  .Header-bottom-sentence {
    color: white;
    text-align: center;
  }
  
  .Header-bottom-sentence2 {
    color: white;
    text-align: center;
  }
  
  .Search-input {
    border: white;
    width: 80%;
    height: 30px;
    margin-top: 10px;
  }
  
  .searchbtn {
    width: 80%;
    background: white;
    
  }
  
  @media (min-width: 600px) {

    .navbar {
      width: 80%;
      margin: 0 auto;
    }

    .logo-img {
      height: 50px;
    }

    .signing {
      font-size: 20px;
      text-align: right;
      padding: 30px;
    }
    
    .Search-input {
      width: 300px;
      height: 50px;
      margin-top: 10px;
    }
  
  }
  