
.Header {
  height: 15vh;
  padding: 5px;
}
  
.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-join {
  display: flex;
  color: #ffffff;
  text-align: right;
  width: 300px;
  justify-content: space-evenly;
}

.nav-button{
  text-decoration: none;
  background-color: #1e1e1e;
  color: white;
  border: none;
  display: inline;
  font-size: 1.1em;
}

.logo-img {
  width: 40vw;
}

.user-icon {
  display: none;
  color: white;
}

.nav-button {
  font-size: 1.3em;
  padding: 0 10px;
}
/* Desktop */
@media (min-width: 600px) {
  .navbar {
    padding: auto 0;
    width: 100%;
    margin: 0;
  }

  .logo-img {
    width: 200px;
  }

  .signing {
    font-size: 20px;
    text-align: right;
  }

}
  