.search-bar :focus {
  width: 99%;
  border: 1px solid #195280;
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
  height: 70px;
  margin: 1.5px;
  background-color: #383838;
  padding-left: 20px;
  font-size: 20px;
  color: #cccccc;
  box-sizing: border-box;
  border: 1px solid #383838;
  border-radius: 0;
}

.search-button {
  background-color: #02629e;
  border: none;
  width: 50%;
  margin: 10px auto;
  height: 70px;
  font-size: 20px;
  color: white;
}

@media (min-width: 600px) {
    .search-bars{
        padding-left: 10%;
        margin: 0;
        display: flex;
        flex-flow: column;
        width: 50vw
    }

    .search-bar {
        /* width: 50vw; */
    }

    .search-button {
        width: 100%;
    }
}
