.SearchBar {
    display: flex;
    flex-flow: column;
}

.search-bar {
    width: 70%;
    height: 30px;
    border: black 1px solid;
    margin: 5px auto;
    

}

.search-button{
    background-color: #529bd8;
}
/* .stack {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-start: 2;
    width: 70%;
} */

