.user-image {
  height: 150px;
  width: 150px;
  padding: 10px;
}

/* .card-list :hover {
  border: solid 1px #707070;
} */

.card {
  list-style: none;
  padding: 0 10px;
}

.card-list {
  min-height: 100px;
  border: solid 1px #404040;
}

.stack {
  display: flex;
  text-align: center;
}

.stacked {
  text-align: center;
  align-self: center;
  color: #ffffff;
  text-align: left;
}

.result-detail {
  margin: 0;
  font-size: 1.2em;
  padding-left: 20px;
}
