.profile-image {
    height: 100px;
    width: 100px;
    padding: 30px 0;
}

.user-wrapper {
    background-color: gray;
    color: white;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    ". user_profile ."
    ". profile-image user-name"
    ". language user-language"
    ". location user-location"
    ". placeholder placeholder"
    ". . send-button"; */
}

.user_profile {
    grid-area: user_profile;
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid white;;
}

.profile-image {
    grid-area: profile-image;

}

.user-name {
    grid-area: user-name;
    font-size: 40px;
}

.language {
    grid-area: language;
    padding: 20px 0;
}

.user-language {
    grid-area: user-language;
}

.location {
    grid-area: location;
    padding: 20px 0;
}

.user-location {
    grid-area: user-location;
}

.placeholder {
    grid-area: placeholder;
    padding: 20px 0;
    width: 90%;
    height: 100px;
    /* box-shadow: 0px 2px 15px grey; */
}

.send-button {
    grid-area: send-button;
    margin-top: 20px;
}

/* .nonDisplayonProfile {
    display: none;
} */


.parent {
    display: grid;
    
    
}

.child {
    text-align: center;
    grid-template-rows: 1fr 1fr;    
}

.user-list{
    margin-bottom: 10px;
}