.profile-image {
    height: 200px;
    width: 200px;
}

.profile {
    border: 1px solid #404040;
    height: 80vh;
    margin: 5px;
    padding: 20px;
}

.user-wrapper {
    display: flex;
    justify-content: space-between;
}
.user_profile {
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid white;;
}

.profile-detail {
    width: 250px;
    text-align: left;
}

textarea {
    width: 80%;
    height: 300px;
    background-color: #1e1e1e;
}
.send-button {
    margin-top: 20px;
}

.user-list{
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    
    .profile-detail {
        flex: 1;
        justify-self: left;
        padding-left: 30px;
        font-size: 1.3em;
    }
}